@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  /* Text color */

  /* Text stroke */
  -webkit-text-stroke-width: 1px; /* Width of the stroke */
  -webkit-text-stroke-color: #000; /* Color of the stroke */
}

body {
  color: #0f1111;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: #e6e6e6;
}
